#!/usr/bin/env bash

# this is the optimal way to activate a virtualenv
source ~/.virtualenvs/<projectname>/bin/activate

# Or, for virtualenvwrapper:
# this should be avoided.. doesn't properly load all the alias/functions
# if you use this you will see error
# workon_cwd:30: command not found: deactivate
# workon manifest-audit-tool

# Or, for anaconda:
# source activate myproject